*{
    margin: 0;
    padding: 0;
}

body{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.logo_container{
    flex-grow: 1;
    width: 35vw;
    min-width: 345px;
    height: 100vh;
    position: relative;
    background: url(images/background_image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_background{
    background-color:rgba(0, 0, 0, 0.527);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
}
.logo_background > p{
    color: white;
    font-size: 64px;
}

img{
    height: 8rem;
}

.form_container{
    flex-grow: 2;
    width: 65vw;
    padding: 10% 0 10% 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
}

.text{
    flex-grow: 1;
}

form{
    flex-grow: 2;
}

h2{
    margin: 25px 50px;
}

fieldset{
    background-color: white;
    border: none;
}

.field_container{
    padding-top: 10px;
    padding: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
}

label{
    margin: 0 25px 25px 0;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

input{
    width: 225px;
    height: 25px;
    border: solid 1px lightgray;
    border-radius: 5px;
}

.create{
    background-color:#87779b;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    width: 175px;
    border-radius: 10px;
    border: none;
    margin: 25px 50px;
}

.log_in{
    flex-grow: 1;
    display: flex;
    margin-left: 50px;
}